
<h2 class="text-3xl font-logo text-blue-900">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mt-10 mr-2 mb-5 ml-2 bg-blue-200 p-3" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded shadow w-full focus:ring-2 focus:ring-green-500", placeholder: "email@example.com" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mt-2">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded shadow w-full focus:ring-2 focus:ring-green-500", placeholder: "******" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mt-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded shadow w-full focus:ring-2 focus:ring-green-500", placeholder: "******" %>
  </div>

  <div class="mt-2">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded shadow w-full focus:ring-2 focus:ring-green-500", placeholder: "******" %>
  </div>
 
  <div class="mt-2 mb-6">
    <%= f.submit "Update", class: "cursor-pointer border border-blue-500 rounded shadow-lg text-center w-full mt-2 p-1 mb-2 bg-blue-900 text-white hover:bg-white hover:text-blue-900 hover:shadow-inner transition ease-in transform hover:-translate-y-1 hover:scale-101 focus:ring-2 focus:ring-green-500" %>
  </div>

  <div class="mb-6">
    <h3>Cancel my account</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cursor-pointer rounded-t text-center w-full mt-2 p-1 text-blue-900 bg-blue-300 hover:bg-white hover:shadow-inner border transition  ease-in transform hover:-translate-y-1 hover:scale-101 focus:ring-2 focus:ring-green-500" %>
    <%= link_to "Back", :back, class: "w-full inline-block rounded-b text-center p-1 mb-2 text-blue-900 border-b border-l border-r hover:shadown-inner bg-blue-300 hover:bg-white transition ease-in transform hover:-translate-y-1 hover:scale-101 focus:ring-2 focus:ring-green-500" %>
  </div>
<% end %>