<div>
  <%= render(Elements::HeadingComponent.new(heading_type: 2)) do %>
    Conversations and messages
  <% end %>
</div>
<div>
  <div>
    <%= link_to 'New conversation', conversation_path, class: "btn btn-blue btn-alone mt-10" %>
  </div>

  <% if @message_groups.empty? %>
    <div class="mt-5">
      <%= render(Elements::HeadingComponent.new(heading_type: 3)) do %>
        You have not started any conversations yet.
      <% end %>
    </div>
  <% else %>
    <table class="table-fixed bg-blue-300 w-full text-left border-collapse border border-blue-400">
      <thead>
        <tr class="border border-blue-400">
          <th class="border border-blue-400 pl-5 w-1/2">Name</th>
          <th class="border border-blue-400 pl-5 w-1/4">User</th>
          <th class="border border-blue-400 pl-5 w-1/4" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @message_groups.each do |message_group| %>
          <tr>
            <td class="border border-blue-400 pl-5"><%= message_group.name %></td>
            <td class="border border-blue-400 pl-5"><%= message_group.owner.email %></td>
            <td class="border border-blue-400 pl-5"><%= link_to 'Show', message_group %></td>
            <td class="border border-blue-400 pl-5"><%= link_to 'Edit', edit_message_group_path(message_group) %></td>
            <td class="border border-blue-400 pl-5"><%= link_to 'Destroy', message_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
