<%= render(Elements::HeadingComponent.new(heading_type: 2)) do %>
  <%= @message_group.name %>
<% end %>

<p>
  Created by <strong><%= @message_group.owner.email %></strong> <%= time_ago_in_words(@message_group.created_at) %> ago
</p>

<div class="mt-5">
  <%= render(Elements::HeadingComponent.new(heading_type: 3)) do %>
    Add <%= "more" unless @message_group.users.nil? %> people to <%= @message_group.name %>
  <% end %>
  <ul>
    <% @message_group.users.each do |user| %>
      <li>
        <% if user != @message_group.owner %>
          <%= link_to "X", remove_user_path(user.id, @message_group.id), class:"inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full cursor-pointer" %>
        <% end %>
        <span class="ml-10"><%= user.email %></span>
      </li>
    <% end %>
  </ul>
</div>

<div class="mt-5">
  <%= link_to 'Back', root_path, class: "btn btn-alone btn-light-white" %>
</div>