<div data-controller="dismiss" class="alert text-<%= color %>-700 border-<%= color %>-700 bg-<%= color %>-200" data-dismiss-target="remove">
  <%= content %><span class="float-right mr-2 border border-<%= color %>-700 pr-1 pl-1 rounded bg-<%= color %>-300 cursor-pointer" data-action="click->dismiss#remove">X</span>
</div>